{% extends "layout.html" %}

{% block content %}

    <h2>Weather Form</h2>

    <p>Request an hourly forecast for your zip code...</p>

    <form action="/weather/forecast" method="POST">

        <label>Sport (use baseball_mlb):</label>
        <input type="text" name="sport" placeholder="baseball_mlb" value="baseball_mlb">
        <br>

        <label>Full Team Name:</label>
        <input type="text" name="team" placeholder="New York Yankees" value="New York Yankees">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}
